body {
  font-family: lato, helvetica, sans-serif;
}
@media screen and (min-width: 568px) {
        .name {
    font-size: 100px;
    }
}
.name {
  color: #53aa00;
  text-align: center;
}
.gif {
  width: 350px;
}
.shop {
  color: #53aa00;
  margin: 50px 0px 50px 0px;
}
#food {
  width: 250px;
}
.logos {
  width: 200px;
  height: 200px;
}
.ftrhead {
  color: #53aa00;
  text-align: center;
}
.jumbotron {
  background-image: url(images/shopping-cart.jpg);
  height: 800px;
}
#jumbo {
  background-color: rgba(83,170,0, 0.65);
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 200px;
}
.jumbotext {
  color: white;
  font-size: 60px;
  margin: 0px;
}
.btn.btn-primary {
  background-color: #53aa00;
}
#searchpic {
  background-image: url(images/apple.jpg);
  margin-top: 40px;
  height: 400px;
  margin-bottom: 100px;
}
.searchbox {
  margin-top: 50px;
}
