body {
  font-family: lato, helvetica, sans-serif;
}
#name {
  color: #53aa00;
  font-size: 50pt;
}
.gif {
  width: 350px;
}
#shop {
  color: #53aa00;
  margin: 50px 0px 50px 0px;
}
#food {
  width: 250px;
}
.logos {
  width: 200px;
  height: 200px;
}
.ftrhead {
  color: #53aa00;
  text-align: center;
}