#header {
  background-color: #53aa00;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}
#headertext {
  color: white;
  font-family: lato; sans-serif;
}
h2 {
  padding-top: 20px;
  padding-right: 40px;
}
.font {
  font-size: 100pt;
}
#color {
  background-color: #53aa00;
  margin-top: 40px;
  padding-bottom: 20px;
}
#colortwo {
  background-color: #2b5800;
  margin-top: 40px;
  padding-bottom: 20px;
}
#hex {
  color: white;
}